/* reset-password.page.scss */
.reset-password-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f3f4f6; /* Fondo suave para contraste, igual que en login */
  
    form {
      width: 100%;
      max-width: 400px;
      margin: 20px auto;
      background-color: #ffffff; /* Fondo blanco para el formulario */
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
      padding: 20px;
    }
  
    ion-item {
      --background: #fff;
      --border-radius: 8px;
      margin-bottom: 15px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }
  
    ion-label {
      color: #333; /* Color oscuro para texto */
      font-size: 1rem;
    }
  
    ion-input {
      font-size: 1rem;
      color: #333;
    }
  
    ion-button {
      background-color: #007bff; /* Botón azul con color primario */
      color: #fff;
      border-radius: 8px;
      font-size: 1.1rem;
      text-transform: uppercase;
      box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.5); /* Sombra para darle énfasis */
      margin-top: 20px;
    }
  
    ion-button:hover {
      background-color: #0056b3; /* Cambiar a un azul más oscuro al hacer hover */
    }
  }
  
  ion-header {
    ion-toolbar {
      --background: #007bff; /* Encabezado azul */
      --color: #fff;
    }
  
    ion-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }